/* src/styles.css */

/* A fonte que já importamos no index.html */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4; /* Um cinza bem claro para o fundo */
  color: #333; /* Texto principal escuro para bom contraste */
}

/* Um container principal para centralizar o conteúdo das páginas */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 40px;
}